<p id="notice"><%= notice %></p>

<p>
  <strong>Research group id:</strong>
  <%= @not_approved_ip_asset.Research_group_ID %>
</p>

<p>
  <strong>Type:</strong>
  <%= @not_approved_ip_asset.Type %>
</p>

<p>
  <strong>Labs associated:</strong>
  <%= @not_approved_ip_asset.Labs_Associated %>
</p>

<!--<%= link_to 'Edit', edit_not_approved_ip_asset_path(@not_approved_ip_asset) %> | -->
<%= link_to 'Back', root_path %>
