<p id="notice"><%= notice %></p>
<div class="jumbotron abc">
<div class="container">
  <div class="row">
    <h2>Contact Us Forms</h2>
     <hr class="featurette-divider1">
    <div class="column">


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact number</th>
      <th>Contact email</th>
      <th>Tell us more about you</th>
      <th>Show contact</th>
      <th>Edit contact</th>
      <th>Destroy contact</th>
    </tr>
  </thead>

  <tbody>
    <% @contact_us.each do |contact_u| %>
      <tr>
        <td><%= contact_u.name %></td>
        <td><%= contact_u.contact_number %></td>
        <td><%= contact_u.contact_email_id %></td>
        <td><%= contact_u.Tell_us_more_about_you %></td>
        <td><%= link_to 'Show', contact_u %></td>
        <td><%= link_to 'Edit', edit_contact_u_path(contact_u) %></td>
        <td><%= link_to 'Destroy', contact_u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Us form', new_contact_u_path,class: "btn btn-primary" %>
</div>
</div>
</div>
</div>
