<p id="notice"><%= notice %></p>
<div class="jumbotron abc">
<div class="container">
     <hr class="featurette-divider1">
<p>
  <strong>Name:</strong>
  <%= @contact_u.name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @contact_u.contact_number %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @contact_u.contact_email_id %>
</p>

<p>
  <strong>Tell us more about you:</strong>
  <%= @contact_u.Tell_us_more_about_you %>
</p>

<%= link_to 'Back', root_path,class: "btn btn-primary" %>
</div>
</div>
<!--<%= link_to 'Edit', edit_contact_u_path(@contact_u) %> |
