 <p id="notice"><%= notice %></p>
<div class="jumbotron abc">
<h1>Ip Assets</h1>

<table>
  <thead>
    <tr>
       <th>Title</th>
        <th>Decription</th>
        <th>Show Full Information</th>
      
    </tr>
  </thead>

  <tbody>
    <% @ip_assets.each do |ip_asset| %>
      <tr>
        <td><%= ip_asset.Title %></td>
        <td><%= ip_asset.Description %></td>
          <td><%= link_to 'Show', ip_asset , {:style => "text-decoration:none;"}%></td>
        <!-- ip_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    <% if current_user.try(:ip_committee?) %>
    <td><%= link_to "Approve ",:controller=>"ip_assets",:action=>"set_approved",:ip_asset=>ip_asset%></td>
    <td><%= link_to "Approve Edit ",:controller=>"ip_assets",:action=>"set_edit",:ip_asset=>ip_asset%></td>
    <td><%= link_to "Reject Edit ",:controller=>"ip_assets",:action=>"set_not_edit",:ip_asset=>ip_asset%></td>
    <td><%= link_to "Give royalty",:controller=>"ip_assets",:action=>"share_royalty",:ip_asset=>ip_asset%></td>
   <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ip Asset', new_ip_asset_path %>
</div>
