<p id="notice"><%= notice %></p>

<p>
  <strong>Research group id:</strong>
  <%= @ip_asset.Research_group_ID %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ip_asset.Type %>
</p>

<p>
  <strong>Labs associated:</strong>
  <%= @ip_asset.Labs_Associated %>
</p>

<!--<%= link_to 'Edit', edit_ip_asset_path(@ip_asset) %> |-->
<%= link_to 'Back', ip_assets_path %>
