<p id="notice"><%= notice %></p>
<div class="jumbotron abc">
<p>
  <strong>Title:</strong>
  <%= @ip_asset.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ip_asset.Description %>
</p>
<p>
<strong>Owners:</strong>
<ol>
<%for user in @ip_asset.users%>
<!-- <strong>Type:</strong> -->
<p><%=h user.name%></p>
<% end %>
</ol>
</p>
<p>
  <strong>Labs associated:</strong>
  <%= @ip_asset.Labs_Associated %>
</p>
<p>
  <strong>Document:</strong>
  <%= link_to "Resume",@ip_asset.attachment_url %>
</p>
<p>
<% if @ip_asset.status=="Approved" %>
  <strong>Approved By:</strong>
  <%= @ip_asset.Approver_name %>
<%end%>
</p>
<!--<%= link_to 'Edit', edit_ip_asset_path(@ip_asset) %> |-->
<% if user_signed_in?%> 
<%= link_to 'Back',my_index_ip_assets_path, :class => "btn btn-primary"%>
 <%else%>
 <%= link_to 'Back',all_index_ip_assets_path, :class => "btn btn-primary"%>
 <%end%> 
</div>