<%# add navigation links to this file %>
<li><%= link_to 'Home', root_path,{:class => "glyphicon glyphicon-home",:style => "color: white;"}%></li>
<li><%= link_to 'About', page_path('about'), {:class => "glyphicon glyphicon-info-sign",:style => "color: white;"} %></li>



<% if user_signed_in? %>
<li><%= link_to 'Edit-Account', edit_user_registration_path , {:class => "glyphicon glyphicon-cog",:style => "color: white;"}%></li>
<li><%= link_to 'Notifications', notifications_path, {:class => "glyphicon glyphicon-user",:style => "color: white;"} %></li>
 <% if current_user.try(:admin?) %>
    <li><%= link_to 'Users', users_path , {:class => "glyphicon glyphicon-user",:style => "color: white;"} %></li>
    <li><%= link_to 'IP Committee Members', new_index_users_path, {:class => "glyphicon glyphicon-user",:style => "color: white;"} %></li>
  <% end %>
  <% end %>